.about {
    background-color: rgb(184, 32, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}

.home {
    font-weight: bold;
    background-color: rgb(184, 32, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: image();
}

.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(112, 218, 13);
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(184, 32, 255);
}

.card0 footer {

    padding: 20px;
}

.card0 .card1 {
    padding: 15px;
    
}

.card0 .card2 {
    padding: 15px;
}